<%- include('templates/head',{title: 'Desarrollo'}) %>

<div class="font-raleway bg-midnight_blue text-white flex w-full flex-col">
	<%- include('templates/navbar', {menu: 'text-teal-400'}) %>
</div>

<%- include('templates/footer') %>
