<%- include("templates/head", {title: 'Principal'}) %>

<div class="font-raleway bg-midnight_blue text-white flex w-full flex-col">
	<%- include("templates/navbar") %>
	<div class="container flex flex-col m-auto">
		<div class="flex flex-col justify-center items-center my-16 transform -rotate-3">
			<h1 class="text-5xl font-bold font-bahnscrift animate-bounce bg-dark_blue rounded-xl py-3"><span class="text-aquamarine_blue font-black"><</span> Bienvenido soy Dasacav3 Dev <span class="text-gold_yellow font-black">!></span> </h1>
		</div>
		<div class="flex justify-between my-20 items-center">
			<div class="flex justify-center">
				<img src="/img/progressive_app.png" alt="aplicación web progresiva" class="w-3/6" />
			</div>
			<h4 class="text-4xl font-bold px-20 text-center">
				¿Estas buscando crear una aplicación, pero no sabes por donde empezar?
			</h4>
		</div>
	</div>
</div>

<div class="font-raleway bg-orange text-white flex w-full">
	<div class="container flex flex-col m-auto">
		<div class="flex justify-between my-20 items-center">
			<h4 class="text-4xl font-bold px-20 text-center">
				¿Tienes una empresa y deseas hacerte conocer a más clientes?
			</h4>
			<div class="flex justify-center">
				<img src="/img/computer-desktop.png" alt="aplicación web progresiva" class="w-3/6" />
			</div>
		</div>
	</div>
</div>

<div class="font-raleway bg-gold_yellow text-white flex w-full flex-col">
	<div class="container flex flex-col m-auto">
		<div class="flex justify-between my-20 items-center">
			<div class="flex justify-center">
				<img src="/img/ecommerce.png" alt="aplicación web progresiva" class="w-3/6" />
			</div>
			<h4 class="text-4xl font-bold px-20 text-center">
				¿Tienes un negocio y aun no estas vendiendo por internet?
			</h4>
		</div>
	</div>
</div>

<div class="font-raleway bg-dark_blue text-white flex w-full flex-col">
	<div class="container m-auto">
		<h4 class="text-center font-bold text-4xl my-8">
			!Eyy espera no te vayas, estas <br />
			en el lugar indicado!
		</h4>
		<p class="text-center font-bold text-xl my-12">
			Diligencia este formulario y estaras a <br />
			un paso de poner en marcha tus ideas
		</p>
		<div class="grid grid-cols-3 mb-10">
			<div class="flex justify-center items-center">
				<img src="/img/happy_announcement.png" alt="" class="w-3/4" />
			</div>
			<form action="" method="POST" class="flex justify-center">
				<div class="flex justify-center flex flex-col">
					<label for="">Nombre completo *</label>
					<input type="text" class="rounded-lg w-80" />
					<label for="">Correo electronico *</label>
					<input type="text" class="rounded-lg w-80" />
					<label for="">Tematica *</label>
					<textarea
						name=""
						id=""
						cols="10"
						rows="10"
						class="rounded-lg w-80 resize-none"
					></textarea>
					<div class="flex justify-center">
						<button class="bg-light_blue text-white font-bold py-1 px-4 rounded-lg my-5 w-max">
							<a href="#" class="text-white">Enviar</a>
						</button>
					</div>
				</div>
			</form>
			<div class="flex justify-center items-center">
				<img src="/img/superhero.png" alt="" class="w-3/4" />
			</div>
		</div>
	</div>
</div>

<%- include("templates/footer") %>
