<%- include("templates/head", {title: 'Principal'}) %>

<div class="font-raleway bg-midnight_blue text-white flex w-full">
	<%- include("templates/navbar") %>
</div>

<%- include("templates/footer") %>
