<%- include("templates/head", {title: 'Principal'}) %>

<div class="font-raleway bg-midnight_blue h-screen text-white text-3xl flex w-full m-auto">
	<header class="container">Dasacav3</header>
</div>

<%- include("templates/footer") %>
