<footer class="font-raleway bg-midnight_blue text-white flex w-full flex-col font-bold text-md text-center py-4">
    <p>© Todos los derechos reservados - 2021</p>
</footer>
<script src="/js/main.js"></script>
</body>
</html>