<header class="container m-auto grid grid-cols-1 md:grid-cols-3 items-center">
	<div class="flex justify-center md:justify-start">
		<a href="/">
            <img src="/img/logo.png" alt="Dasacav3 logo" class="w-24 my-5" />
        </a>
	</div>
	<nav>
		<ul class="flex justify-around font-bold">
			<li><a href="/development" class="">Desarrollo</a></li>
			<li><a href="/blog" class="">Blog</a></li>
			<li><a href="/projects" class="">Proyectos</a></li>
			<li><a href="/contact" class="">Contacto</a></li>
		</ul>
	</nav>
	<div class="flex justify-center md:justify-end items-center my-5">
		<button
			class="flex items-center justify-between switch w-12 h-5 bg-white rounded-full"
			id="switch"
		>
			<!-- <span class="bg-gray-500 rounded-full p-1 w-6 h-6 flex"><i class="fas fa-sun text-yellow-400 text-md"></i></span> -->
			<span class="bg-gray-500 rounded-full p-1 w-6 h-6 flex"
				><i class="fas fa-moon text-yellow-400 text-md"></i
			></span>
		</button>
		<button class="flex items-center"><i class="fas fa-search text-xl ml-5"></i></button>
		<div class="hidden">
			<i class="fas fa-bars text-xl ml-5"></i>
		</div>
	</div>
</header>
